{
   "save" : {
      "header" : {
         "time" : 1457081924,
         "version" : "2.0.2.0"
      },
      "regions" : {
         "dialog" : {
            "UUID" : {"type" : 22, "value" : "6da7638e-2302-4b94-abc4-57b9e955f1c0"},
            "automated" : {"type" : 19, "value" : 0},
            "category" : {"type" : 23, "value" : "Generic NPC Dialog"},
            "nodes" : [
               {
                  "node" : [
                     {
                        "PopLevel" : {"type" : 4, "value" : 1},
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "UUID" : {"type" : 22, "value" : "16b30e61-8831-4b49-a3ad-4f2529710e10"},
                        "checkflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "name" : {"type" : 22, "value" : "##QuestCompletedB"},
                                          "paramval" : {"type" : 4, "value" : 1},
                                          "value" : {"type" : 19, "value" : 1}
                                       }
                                    ],"type" : {"type" : 22, "value" : "Party"}}
                              ]
                           }
                        ],
                        "children" : [ {} ],
                        "constructor" : {"type" : 22, "value" : "Pop"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Pop"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "1229.096;228.3583"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| Player Trouble Inquiry|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "19c4850f-d5a1-443a-acd8-d3082481d0fd"},
                        "checkflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "name" : {"type" : 22, "value" : "##QuestAccepted"},
                                          "paramval" : {"type" : 4, "value" : 1},
                                          "value" : {"type" : 19, "value" : 0}
                                       }
                                    ],"type" : {"type" : 22, "value" : "Party"}}
                              ]
                           }
                        ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "7a39eca5-97fe-4e2a-a610-6addd4fda587"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "TagQuestion"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Trouble Inquiry"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "29.09521;26.77254"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "name" : {"type" : 22, "value" : "##QuestAccepted"},
                                          "paramval" : {"type" : 4, "value" : 1},
                                          "value" : {"type" : 19, "value" : 1}
                                       }
                                    ],"type" : {"type" : 22, "value" : "Party"}}
                              ]
                           }
                        ],
                        "speaker" : {"type" : 4, "value" : 1},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 1},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| Player Quest Question 2|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "1dc973ef-0cd3-48a4-ad10-a028982f4368"},
                        "checkflags" : [ {} ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "3e2cab9a-3d4b-4a20-a828-d1670dc1dea2"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "TagQuestion"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Quest Question 2"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "626.3386;635.7729"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : 1},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "|Quest Reponse A|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "2158a2e8-f7d9-45d8-94a5-a88e505cc0d0"},
                        "checkflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "name" : {"type" : 22, "value" : "##QuestCompletedA"},
                                          "paramval" : {"type" : 4, "value" : 1},
                                          "value" : {"type" : 19, "value" : 1}
                                       }
                                    ],"type" : {"type" : 22, "value" : "Party"}}
                              ]
                           }
                        ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "750337e5-56bb-4f97-a7c1-c5948fc2fb2f"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "TagAnswer"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Quest Closed A"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "933.0955;27.09074"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 1},
                        "setflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "name" : {"type" : 22, "value" : "##QuestCloseA"},
                                          "paramval" : {"type" : 4, "value" : 1},
                                          "value" : {"type" : 19, "value" : 1}
                                       }
                                    ],"type" : {"type" : 22, "value" : "Party"}}
                              ]
                           }
                        ],
                        "speaker" : {"type" : 4, "value" : 0},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| NPC Quest Answer 1|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "35c1799e-1eae-4cde-aac4-ddf81a26bc13"},
                        "checkflags" : [ {} ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "ca930e82-a9cc-415d-8d4e-b86164cc451a"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "TagAnswer"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Quest Answer 1"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "926.3386;432.2906"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : 0},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 1},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| Player Quest Question 1|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "37086c60-7609-448f-aa86-f81431dcb4d8"},
                        "checkflags" : [ {} ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "35c1799e-1eae-4cde-aac4-ddf81a26bc13"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "TagQuestion"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Quest Question 1"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "626.3386;432.7726"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : 1},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "|NPC Quest Answer 2|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "3e2cab9a-3d4b-4a20-a828-d1670dc1dea2"},
                        "checkflags" : [ {} ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "978d56c9-b5ab-41f7-adea-510b0e3be43d"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "TagAnswer"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Quest Answer 2"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "926.3386;635.2904"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : 0},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "|Report Quest Outcome B already done|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "4b8034b2-5d30-4a5a-bbae-775e11aee8c4"},
                        "checkflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "name" : {"type" : 22, "value" : "##QuestCompletedB"},
                                          "paramval" : {"type" : 4, "value" : 1},
                                          "value" : {"type" : 19, "value" : 1}
                                       }
                                    ],"type" : {"type" : 22, "value" : "Party"}}
                              ]
                           }
                        ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "56a7d956-93db-49ab-ae02-9d577685ba24"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "TagQuestion"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Quest Outcome B Already Done"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "629.0954;228.7726"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 1},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : 1},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "|Quest Response A|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "4f5e461d-5073-47ce-ba15-843976656b27"},
                        "checkflags" : [ {} ],
                        "children" : [ {} ],
                        "constructor" : {"type" : 22, "value" : "TagAnswer"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Quest Closed A"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "298.7973;870.6158"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "name" : {"type" : 22, "value" : "##QuestCloseA"},
                                          "paramval" : {"type" : 4, "value" : 1},
                                          "value" : {"type" : 19, "value" : 1}
                                       }
                                    ],"type" : {"type" : 22, "value" : "Party"}}
                              ]
                           }
                        ],
                        "speaker" : {"type" : 4, "value" : 0},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "|Quest Reponse B|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "56a7d956-93db-49ab-ae02-9d577685ba24"},
                        "checkflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "name" : {"type" : 22, "value" : "##QuestCompletedB"},
                                          "paramval" : {"type" : 4, "value" : 1},
                                          "value" : {"type" : 19, "value" : 1}
                                       }
                                    ],"type" : {"type" : 22, "value" : "Party"}}
                              ]
                           }
                        ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "16b30e61-8831-4b49-a3ad-4f2529710e10"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "TagAnswer"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Quest Closed B"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "929.0955;229.7726"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 1},
                        "setflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "name" : {"type" : 22, "value" : "##QuestCloseB"},
                                          "paramval" : {"type" : 4, "value" : 1},
                                          "value" : {"type" : 19, "value" : 1}
                                       }
                                    ],"type" : {"type" : 22, "value" : "Party"}}
                              ]
                           }
                        ],
                        "speaker" : {"type" : 4, "value" : 0},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "PopLevel" : {"type" : 4, "value" : 1},
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "UUID" : {"type" : 22, "value" : "6eab2ef3-2bf2-4d7a-ab99-f08c2ace005b"},
                        "checkflags" : [ {} ],
                        "children" : [ {} ],
                        "constructor" : {"type" : 22, "value" : "Pop"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Pop"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "925.9565;838.7729"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "PopLevel" : {"type" : 4, "value" : 1},
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "UUID" : {"type" : 22, "value" : "750337e5-56bb-4f97-a7c1-c5948fc2fb2f"},
                        "checkflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "name" : {"type" : 22, "value" : "##QuestCompletedA"},
                                          "paramval" : {"type" : 4, "value" : 1},
                                          "value" : {"type" : 19, "value" : 1}
                                       }
                                    ],"type" : {"type" : 22, "value" : "Party"}}
                              ]
                           }
                        ],
                        "children" : [ {} ],
                        "constructor" : {"type" : 22, "value" : "Pop"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Pop"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "1229.732;27.09074"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "|NPC Give Quest |"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "7a39eca5-97fe-4e2a-a610-6addd4fda587"},
                        "checkflags" : [ {} ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "b4b7aecb-5f2d-4f91-8a57-967abebfafb7"}
                                 },
                                 {
                                    "UUID" : {"type" : 22, "value" : "4b8034b2-5d30-4a5a-bbae-775e11aee8c4"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "TagAnswer"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Give Quest"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "329.0952;26.77254"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : 0},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "*Change the subject.*"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "7dfdf511-3b2f-4ee1-88d6-eda2a6ee3650"},
                        "checkflags" : [ {} ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "6eab2ef3-2bf2-4d7a-ab99-f08c2ace005b"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "TagQuestion"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Change Subject"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "625.956;838.7729"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : 1},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "PopLevel" : {"type" : 4, "value" : 1},
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "UUID" : {"type" : 22, "value" : "978d56c9-b5ab-41f7-adea-510b0e3be43d"},
                        "checkflags" : [ {} ],
                        "children" : [ {} ],
                        "constructor" : {"type" : 22, "value" : "Pop"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Pop"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "1226.339;635.2904"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "|Quest Response B|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "a53a566c-9ed8-4be9-a884-b28042841d18"},
                        "checkflags" : [ {} ],
                        "children" : [ {} ],
                        "constructor" : {"type" : 22, "value" : "TagAnswer"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Quest Closed B"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "296.5268;1109.481"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "name" : {"type" : 22, "value" : "##QuestCloseB"},
                                          "paramval" : {"type" : 4, "value" : 1},
                                          "value" : {"type" : 19, "value" : 1}
                                       }
                                    ],"type" : {"type" : 22, "value" : "Party"}}
                              ]
                           }
                        ],
                        "speaker" : {"type" : 4, "value" : 0},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "|Report Quest Outcome A already done|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "b4b7aecb-5f2d-4f91-8a57-967abebfafb7"},
                        "checkflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "name" : {"type" : 22, "value" : "##QuestCompletedA"},
                                          "paramval" : {"type" : 4, "value" : 1},
                                          "value" : {"type" : 19, "value" : 1}
                                       }
                                    ],"type" : {"type" : 22, "value" : "Party"}}
                              ]
                           }
                        ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "2158a2e8-f7d9-45d8-94a5-a88e505cc0d0"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "TagQuestion"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Quest Outcome A Already Done"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "627.0954;27.09074"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 1},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : 1},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "PopLevel" : {"type" : 4, "value" : 1},
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "UUID" : {"type" : 22, "value" : "ca930e82-a9cc-415d-8d4e-b86164cc451a"},
                        "checkflags" : [ {} ],
                        "children" : [ {} ],
                        "constructor" : {"type" : 22, "value" : "Pop"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Pop"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "1226.339;432.2906"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "|Report Quest Outcome A.|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "cfa40a5c-d364-4a4e-a546-1a05c5376298"},
                        "checkflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "name" : {"type" : 22, "value" : "##QuestAccepted"},
                                          "paramval" : {"type" : 4, "value" : 1},
                                          "value" : {"type" : 19, "value" : 1}
                                       },
                                       {
                                          "name" : {"type" : 22, "value" : "##QuestCompletedA"},
                                          "paramval" : {"type" : 4, "value" : 1},
                                          "value" : {"type" : 19, "value" : 1}
                                       }
                                    ],"type" : {"type" : 22, "value" : "Party"}}
                              ]
                           }
                        ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "4f5e461d-5073-47ce-ba15-843976656b27"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "TagQuestion"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Quest Outcome A"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "-1.202686;870.6158"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : 1},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| What would you like to know? |"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "dcddc15f-dc28-4135-b94a-a12e33b53e4b"},
                        "checkflags" : [ {} ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "37086c60-7609-448f-aa86-f81431dcb4d8"}
                                 },
                                 {
                                    "UUID" : {"type" : 22, "value" : "1dc973ef-0cd3-48a4-ad10-a028982f4368"}
                                 },
                                 {
                                    "UUID" : {"type" : 22, "value" : "7dfdf511-3b2f-4ee1-88d6-eda2a6ee3650"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "TagAnswer"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "What would you like to know?"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "306.1572;432.2906"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : 0},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| Tell me more about the quest |"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "ec0b8b20-0f40-4124-adcc-4a9fbb0ec924"},
                        "checkflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "name" : {"type" : 22, "value" : "##QuestAccepted"},
                                          "paramval" : {"type" : 4, "value" : 1},
                                          "value" : {"type" : 19, "value" : 1}
                                       },
                                       {
                                          "name" : {"type" : 22, "value" : "##QuestCloseA"},
                                          "paramval" : {"type" : 4, "value" : 1},
                                          "value" : {"type" : 19, "value" : 0}
                                       },
                                       {
                                          "name" : {"type" : 22, "value" : "##QuestCloseB"},
                                          "paramval" : {"type" : 4, "value" : 1},
                                          "value" : {"type" : 19, "value" : 0}
                                       }
                                    ],"type" : {"type" : 22, "value" : "Party"}}
                              ]
                           }
                        ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "dcddc15f-dc28-4135-b94a-a12e33b53e4b"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "TagQuestion"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Ask for Quest Information"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "6.156932;432.2906"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : 1},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "|Report Quest Outcome B.|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "f78beb95-5256-45b9-bf02-48144cf20079"},
                        "checkflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "name" : {"type" : 22, "value" : "##QuestAccepted"},
                                          "paramval" : {"type" : 4, "value" : 1},
                                          "value" : {"type" : 19, "value" : 1}
                                       },
                                       {
                                          "name" : {"type" : 22, "value" : "##QuestCompletedB"},
                                          "paramval" : {"type" : 4, "value" : 1},
                                          "value" : {"type" : 19, "value" : 1}
                                       }
                                    ],"type" : {"type" : 22, "value" : "Party"}}
                              ]
                           }
                        ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "a53a566c-9ed8-4be9-a884-b28042841d18"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "TagQuestion"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Quest Outcome B"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "-3.473072;1109.481"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : 1},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     }
                  ]
               }
            ],
            "speakerlist" : [
               {
                  "speaker" : [
                     {
                        "index" : {"type" : 22, "value" : "0"},
                        "list" : {"type" : 23, "value" : ""}
                     },
                     {
                        "index" : {"type" : 22, "value" : "1"},
                        "list" : {"type" : 23, "value" : ""}
                     }
                  ]
               }
            ]
         },
         "template" : {
            "parameters" : [
               {
                  "parameter" : [
                     {
                        "name" : {"type" : 22, "value" : "QuestAccepted"},"type" : {"type" : 22, "value" : "Party"}},
                     {
                        "name" : {"type" : 22, "value" : "QuestCloseA"},"type" : {"type" : 22, "value" : "Party"}},
                     {
                        "name" : {"type" : 22, "value" : "QuestCloseB"},"type" : {"type" : 22, "value" : "Party"}},
                     {
                        "name" : {"type" : 22, "value" : "QuestCompletedA"},"type" : {"type" : 22, "value" : "Party"}},
                     {
                        "name" : {"type" : 22, "value" : "QuestCompletedB"},"type" : {"type" : 22, "value" : "Party"}}
                  ]
               }
            ]
         }
      }
   }
}
