{
   "save" : {
      "header" : {
         "time" : 1475569429,
         "version" : "2.0.6.0"
      },
      "regions" : {
         "dialog" : {
            "UUID" : {"type" : 22, "value" : "52ceebdb-582b-4c4d-8a59-a6ab633557c3"},
            "automated" : {"type" : 19, "value" : 0},
            "category" : {"type" : 23, "value" : "Generic NPC Dialog"},
            "nodes" : [
               {
                  "node" : [
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "*Steer the conversation in another direction.*"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "19119956-78aa-44fa-a2f0-1d81e26bd10c"},
                        "checkflags" : [ {} ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "ed919157-8922-41a5-9be3-da104d029137"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "TagQuestion"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Question"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "23.40393;1250.91"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "sourcetemplate"},
                                    "val" : {"type" : 23, "value" : ""}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : -1},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "Success" : {"type" : 19, "value" : 1},
                        "UUID" : {"type" : 22, "value" : "1fd2863e-50f4-4bff-a8fe-77611cb2e476"},
                        "checkflags" : [ {} ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "c24c9498-5c72-452c-819c-1bb84f321906"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "PersuasionResult"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "PersuasionResult - Success"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "578;24"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "sourcetemplate"},
                                    "val" : {"type" : 23, "value" : ""}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : -666},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "DifficultyMod" : {"type" : 27, "value" : 2},
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "PersuasionTargetSpeakerIndex" : {"type" : 4, "value" : 0},
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "StatName" : {"type" : 22, "value" : "Strength"},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : ""
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "2a012689-c499-4c63-a675-b7ceb2d27458"},
                        "checkflags" : [ {} ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "1fd2863e-50f4-4bff-a8fe-77611cb2e476"}
                                 },
                                 {
                                    "UUID" : {"type" : 22, "value" : "d3349a14-3303-4401-963d-00db07695d56"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "Persuasion"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "STRENGTH: Intimidation"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "28;24"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "sourcetemplate"},
                                    "val" : {"type" : 23, "value" : ""}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : -1},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "DifficultyMod" : {"type" : 27, "value" : 2},
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "PersuasionTargetSpeakerIndex" : {"type" : 4, "value" : 0},
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "StatName" : {"type" : 22, "value" : "Constitution"},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : ""
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "830e66e8-bdde-431e-a67a-c4a124e2abaf"},
                        "checkflags" : [ {} ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "1fd2863e-50f4-4bff-a8fe-77611cb2e476"}
                                 },
                                 {
                                    "UUID" : {"type" : 22, "value" : "d3349a14-3303-4401-963d-00db07695d56"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "Persuasion"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "CONSTITUTION: Charm"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "25.72685;635.0911"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "sourcetemplate"},
                                    "val" : {"type" : 23, "value" : ""}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : -1},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "DifficultyMod" : {"type" : 27, "value" : 2},
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "PersuasionTargetSpeakerIndex" : {"type" : 4, "value" : 0},
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "StatName" : {"type" : 22, "value" : "Memory"},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : ""
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "9a6c14ef-7bc2-4244-ba23-38fcfa5cab17"},
                        "checkflags" : [ {} ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "1fd2863e-50f4-4bff-a8fe-77611cb2e476"}
                                 },
                                 {
                                    "UUID" : {"type" : 22, "value" : "d3349a14-3303-4401-963d-00db07695d56"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "Persuasion"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "MEMORY: Authority"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "24.94268;839.061"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "sourcetemplate"},
                                    "val" : {"type" : 23, "value" : ""}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : -1},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "DifficultyMod" : {"type" : 27, "value" : 2},
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "PersuasionTargetSpeakerIndex" : {"type" : 4, "value" : 0},
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "StatName" : {"type" : 22, "value" : "Intelligence"},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : ""
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "aa556cc2-0eaa-44ae-b350-942912d81628"},
                        "checkflags" : [ {} ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "1fd2863e-50f4-4bff-a8fe-77611cb2e476"}
                                 },
                                 {
                                    "UUID" : {"type" : 22, "value" : "d3349a14-3303-4401-963d-00db07695d56"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "Persuasion"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "INTELLIGENCE: Reason"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "27;432"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "sourcetemplate"},
                                    "val" : {"type" : 23, "value" : ""}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : -1},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [ {} ],
                        "UUID" : {"type" : 22, "value" : "c24c9498-5c72-452c-819c-1bb84f321906"},
                        "checkflags" : [ {} ],
                        "children" : [ {} ],
                        "constructor" : {"type" : 22, "value" : "TagAnswer"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Answer"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "878;24"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "sourcetemplate"},
                                    "val" : {"type" : 23, "value" : ""}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : -1},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [ {} ],
                        "UUID" : {"type" : 22, "value" : "cf6abdc6-0a5d-4a22-9157-75efef57c163"},
                        "checkflags" : [ {} ],
                        "children" : [ {} ],
                        "constructor" : {"type" : 22, "value" : "TagAnswer"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Answer"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "879;228"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "sourcetemplate"},
                                    "val" : {"type" : 23, "value" : ""}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : -1},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "DifficultyMod" : {"type" : 27, "value" : 2},
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "PersuasionTargetSpeakerIndex" : {"type" : 4, "value" : 0},
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "StatName" : {"type" : 22, "value" : "Finesse"},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : ""
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "cf77164b-9b4f-420a-9951-b80cb472f2cb"},
                        "checkflags" : [ {} ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "1fd2863e-50f4-4bff-a8fe-77611cb2e476"}
                                 },
                                 {
                                    "UUID" : {"type" : 22, "value" : "d3349a14-3303-4401-963d-00db07695d56"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "Persuasion"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "FINESSE: Seduction"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "28;228"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "sourcetemplate"},
                                    "val" : {"type" : 23, "value" : ""}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : -1},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "Success" : {"type" : 19, "value" : 0},
                        "UUID" : {"type" : 22, "value" : "d3349a14-3303-4401-963d-00db07695d56"},
                        "checkflags" : [ {} ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "cf6abdc6-0a5d-4a22-9157-75efef57c163"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "PersuasionResult"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "PersuasionResult -  Failure"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "577;228"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "sourcetemplate"},
                                    "val" : {"type" : 23, "value" : ""}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : -666},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "PopLevel" : {"type" : 4, "value" : 1},
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "UUID" : {"type" : 22, "value" : "ed919157-8922-41a5-9be3-da104d029137"},
                        "checkflags" : [ {} ],
                        "children" : [ {} ],
                        "constructor" : {"type" : 22, "value" : "Pop"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Pop"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "343.404;1250.94"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "sourcetemplate"},
                                    "val" : {"type" : 23, "value" : ""}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "DifficultyMod" : {"type" : 27, "value" : 2},
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "PersuasionTargetSpeakerIndex" : {"type" : 4, "value" : 0},
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "StatName" : {"type" : 22, "value" : "Wits"},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : ""
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "f4b581a7-37c5-4eaa-83ba-1d01aee5e717"},
                        "checkflags" : [ {} ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "1fd2863e-50f4-4bff-a8fe-77611cb2e476"}
                                 },
                                 {
                                    "UUID" : {"type" : 22, "value" : "d3349a14-3303-4401-963d-00db07695d56"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "Persuasion"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "WITS: Mislead"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "24.72685;1044.061"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "sourcetemplate"},
                                    "val" : {"type" : 23, "value" : ""}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : -1},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     }
                  ]
               }
            ],
            "speakerlist" : [ {} ]
         },
         "template" : {
            "parameters" : [ {} ]
         }
      }
   }
}
