{
   "save" : {
      "header" : {
         "time" : 1457082597,
         "version" : "2.0.2.0"
      },
      "regions" : {
         "dialog" : {
            "UUID" : {"type" : 22, "value" : "e6252266-5184-4fe4-8199-361865ec58a2"},
            "automated" : {"type" : 19, "value" : 1},
            "category" : {"type" : 23, "value" : "Generic NPC Dialog"},
            "nodes" : [
               {
                  "node" : [
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "  | No PetPal  Greeting|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "ddef80f9-0c16-4674-9bf8-c5d59054f0ab"},
                        "checkflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "name" : {"type" : 22, "value" : "PETPAL"},
                                          "paramval" : {"type" : 4, "value" : 1},
                                          "value" : {"type" : 19, "value" : 0}
                                       }
                                    ],"type" : {"type" : 22, "value" : "Tag"}}
                              ]
                           }
                        ],
                        "children" : [ {} ],
                        "constructor" : {"type" : 22, "value" : "TagGreeting"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "No PetPal Greeting"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "15;15"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 1},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : 0},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "##Tag 1"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "   |   PetPal  Tag 1 Initial Greeting|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "##Tag 2"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "   | PetPal  Tag 2 Initial Greeting|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "##Tag 3"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "   | PetPal  Tag 3 Initial Greeting|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "##Tag 4"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "   | PetPal  Tag 4 Initial Greeting|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "##Tag 5"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "   | PetPal  Tag 5 Initial Greeting|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "##Tag 6"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "   | PetPal  Tag 6 Initial Greeting|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "##Tag 7"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "   | PetPal  Tag 7 Initial Greeting|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "##Tag 8"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "   | PetPal  Tag 8 Initial Greeting|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : " | Generic PetPal Greeting|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "f4be812d-135d-497b-9c91-676c498ff421"},
                        "checkflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "name" : {"type" : 22, "value" : "PETPAL"},
                                          "paramval" : {"type" : 4, "value" : 1},
                                          "value" : {"type" : 19, "value" : 1}
                                       }
                                    ],"type" : {"type" : 22, "value" : "Tag"}}
                              ]
                           }
                        ],
                        "children" : [ {} ],
                        "constructor" : {"type" : 22, "value" : "TagGreeting"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "PetPal Greeting"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "15;211"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 1},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : 0},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     }
                  ]
               }
            ],
            "speakerlist" : [
               {
                  "speaker" : [
                     {
                        "index" : {"type" : 22, "value" : "0"},
                        "list" : {"type" : 23, "value" : ""}
                     },
                     {
                        "index" : {"type" : 22, "value" : "1"},
                        "list" : {"type" : 23, "value" : ""}
                     }
                  ]
               }
            ]
         },
         "template" : {
            "parameters" : [
               {
                  "parameter" : [
                     {
                        "name" : {"type" : 22, "value" : "Tag 1"},"type" : {"type" : 22, "value" : "Tag"}},
                     {
                        "name" : {"type" : 22, "value" : "Tag 2"},"type" : {"type" : 22, "value" : "Tag"}},
                     {
                        "name" : {"type" : 22, "value" : "Tag 3"},"type" : {"type" : 22, "value" : "Tag"}},
                     {
                        "name" : {"type" : 22, "value" : "Tag 4"},"type" : {"type" : 22, "value" : "Tag"}},
                     {
                        "name" : {"type" : 22, "value" : "Tag 5"},"type" : {"type" : 22, "value" : "Tag"}},
                     {
                        "name" : {"type" : 22, "value" : "Tag 6"},"type" : {"type" : 22, "value" : "Tag"}},
                     {
                        "name" : {"type" : 22, "value" : "Tag 7"},"type" : {"type" : 22, "value" : "Tag"}},
                     {
                        "name" : {"type" : 22, "value" : "Tag 8"},"type" : {"type" : 22, "value" : "Tag"}}
                  ]
               }
            ]
         }
      }
   }
}
