{
   "save" : {
      "header" : {
         "time" : 1456395349,
         "version" : "2.0.2.0"
      },
      "regions" : {
         "dialog" : {
            "UUID" : {"type" : 22, "value" : ""},
            "automated" : {"type" : 19, "value" : 0},
            "category" : {"type" : 23, "value" : "Generic NPC Dialog"},
            "nodes" : [
               {
                  "node" : [
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [ {} ],
                        "UUID" : {"type" : 22, "value" : "06852b6c-e127-478d-9153-2046345ffbd8"},
                        "checkflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "name" : {"type" : 22, "value" : "PETPAL"},
                                          "paramval" : {"type" : 4, "value" : 1},
                                          "value" : {"type" : 19, "value" : 0}
                                       }
                                    ],"type" : {"type" : 22, "value" : "Tag"}}
                              ]
                           }
                        ],
                        "children" : [ {} ],
                        "constructor" : {"type" : 22, "value" : "TagGreeting"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "No Petpal Greeting"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "8;8"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 1},
                        "exclusive" : {"type" : 19, "value" : 1},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : 0},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| NPC Lore Answer A |"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "1e12aa2d-3cbb-4389-b7e8-1788ba91a4cc"},
                        "checkflags" : [ {} ],
                        "children" : [ {} ],
                        "constructor" : {"type" : 22, "value" : "TagAnswer"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Lore Answer A"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "804;214"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : 0},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 1},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| Player Lore Question B |"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "267fba7d-9a45-4af8-ab5a-5879fa3042f1"},
                        "checkflags" : [ {} ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "68956cb9-34b9-4ddb-a6c6-6bc71d38083a"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "TagQuestion"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Lore Question B"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "499;419"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : 1},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "##Tag 1"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| Tag 1 Second Greeting |"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "##Tag 2"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| Tag 2 Second Greeting |"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "##Tag 3"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| Tag 3 Second Greeting |"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "##Tag 4"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| Tag 4 Second Greeting |"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| Generic Second Greeting. |"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "48c72f31-b5d0-41c6-96a5-6796708bad35"},
                        "checkflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "name" : {"type" : 22, "value" : "##HasMet Flag"},
                                          "paramval" : {"type" : 4, "value" : 1},
                                          "value" : {"type" : 19, "value" : 1}
                                       }
                                    ],"type" : {"type" : 22, "value" : "Character"}}
                              ]
                           }
                        ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "fdab118c-b81a-46aa-b061-8f5c5d7df586"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "TagGreeting"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Second Petpal Greeting "}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "6;431"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : 0},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| NPC Lore Answer B |"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "68956cb9-34b9-4ddb-a6c6-6bc71d38083a"},
                        "checkflags" : [ {} ],
                        "children" : [ {} ],
                        "constructor" : {"type" : 22, "value" : "TagAnswer"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Lore Answer B"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "799;419"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : 0},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "* Take your leave. * "
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "710a7f6c-7cdf-44ce-90f6-d08c4e98fce6"},
                        "checkflags" : [ {} ],
                        "children" : [ {} ],
                        "constructor" : {"type" : 22, "value" : "TagQuestion"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Leave"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "497;832"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 1},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : 1},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| NPC Lore Answer C |"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "c074e261-950a-42ae-8e64-9b3b4ed99fe2"},
                        "checkflags" : [ {} ],
                        "children" : [ {} ],
                        "constructor" : {"type" : 22, "value" : "TagAnswer"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Lore Answer C"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "799;622"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : 0},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 1},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| Player Lore Question A |"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "e227f3f0-a613-4137-b86e-df402bb62b2f"},
                        "checkflags" : [ {} ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "1e12aa2d-3cbb-4389-b7e8-1788ba91a4cc"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "TagQuestion"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Lore Question A"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "504;214"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : 1},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "##Tag 1"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| Tag 1 Initial Greeting |"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "##Tag 2"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| Tag 2 Initial Greeting |"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "##Tag 3"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| Tag 3 Initial Greeting |"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "##Tag 4"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| Tag 4 Initial Greeting |"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| Generic Initial Greeting. |"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "e78681de-63d3-4ca3-aae8-6553e6128801"},
                        "checkflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "name" : {"type" : 22, "value" : "##HasMet Flag"},
                                          "paramval" : {"type" : 4, "value" : 1},
                                          "value" : {"type" : 19, "value" : 0}
                                       }
                                    ],"type" : {"type" : 22, "value" : "Character"}}
                              ]
                           }
                        ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "e227f3f0-a613-4137-b86e-df402bb62b2f"}
                                 },
                                 {
                                    "UUID" : {"type" : 22, "value" : "710a7f6c-7cdf-44ce-90f6-d08c4e98fce6"}
                                 },
                                 {
                                    "UUID" : {"type" : 22, "value" : "ef83f643-6b4c-44d2-ad6e-f860d308d338"}
                                 },
                                 {
                                    "UUID" : {"type" : 22, "value" : "267fba7d-9a45-4af8-ab5a-5879fa3042f1"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "TagGreeting"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Initial Petpal Greeting"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "7;214"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "name" : {"type" : 22, "value" : "##HasMet Flag"},
                                          "paramval" : {"type" : 4, "value" : 1},
                                          "value" : {"type" : 19, "value" : 1}
                                       }
                                    ],"type" : {"type" : 22, "value" : "Character"}}
                              ]
                           }
                        ],
                        "speaker" : {"type" : 4, "value" : 0},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 1},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| Player Lore Question C |"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "ef83f643-6b4c-44d2-ad6e-f860d308d338"},
                        "checkflags" : [ {} ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "c074e261-950a-42ae-8e64-9b3b4ed99fe2"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "TagQuestion"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Lore Question C"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "499;622"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : 1},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "UUID" : {"type" : 22, "value" : "fdab118c-b81a-46aa-b061-8f5c5d7df586"},
                        "children" : [ {} ],
                        "constructor" : {"type" : 22, "value" : "Jump"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Jump"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "260;431"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "jumptarget" : {"type" : 22, "value" : "e78681de-63d3-4ca3-aae8-6553e6128801"},
                        "jumptargetpoint" : {"type" : 1, "value" : 2},
                        "optional" : {"type" : 19, "value" : 0},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     }
                  ]
               }
            ],
            "speakerlist" : [
               {
                  "speaker" : [
                     {
                        "index" : {"type" : 22, "value" : "0"},
                        "list" : {"type" : 23, "value" : ""}
                     },
                     {
                        "index" : {"type" : 22, "value" : "1"},
                        "list" : {"type" : 23, "value" : ""}
                     }
                  ]
               }
            ]
         },
         "template" : {
            "parameters" : [
               {
                  "parameter" : [
                     {
                        "name" : {"type" : 22, "value" : "HasMet Flag"},"type" : {"type" : 22, "value" : "Character"}},
                     {
                        "name" : {"type" : 22, "value" : "Tag 1"},"type" : {"type" : 22, "value" : "Tag"}},
                     {
                        "name" : {"type" : 22, "value" : "Tag 2"},"type" : {"type" : 22, "value" : "Tag"}},
                     {
                        "name" : {"type" : 22, "value" : "Tag 3"},"type" : {"type" : 22, "value" : "Tag"}},
                     {
                        "name" : {"type" : 22, "value" : "Tag 4"},"type" : {"type" : 22, "value" : "Tag"}}
                  ]
               }
            ]
         }
      }
   }
}
