{
   "save" : {
      "header" : {
         "time" : 1499439990,
         "version" : "2.0.7.0"
      },
      "regions" : {
         "dialog" : {
            "UUID" : {"type" : 22, "value" : "275e48bf-f4b6-4bd7-b0d4-6c72ffc2fe78"},
            "automated" : {"type" : 19, "value" : 0},
            "category" : {"type" : 23, "value" : "Reflection Dialog"},
            "nodes" : [
               {
                  "RootNodes" : [
                     {
                        "RootNodes" : {"type" : 22, "value" : "6ba5c1e5-9021-4e43-978d-e3abb7542ee9"}
                     }
                  ],
                  "node" : [
                     {
                        "GameData" : [
                           {
                              "AiPersonalities" : [ {} ],
                              "CameraTarget" : {"type" : 4, "value" : -1},
                              "Emotion" : {"type" : 23, "value" : "Default"},
                              "MusicInstrumentSounds" : [ {} ],
                              "SoundEvent" : {"type" : 23, "value" : ""}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "IFAN"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 0}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "|Ifan Option|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "SEBILLE"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 0}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "|Sebille Option|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "RED PRINCE"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 0}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "|Red Prince Option"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "LOHSE"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 0}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "|Lohse Option|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "BEAST"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 0}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "|Beast Option|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "FANE"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 0}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "|Fane Option|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "PDD_Player1"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 0}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "|Generic player 1 Option|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "PDD_Player2"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 0}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "|Generic player 2 Option|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "PDD_Player3"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 0}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "|Generic player 3 Option|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "PDD_Player4"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 0}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "|Generic player 4 Option|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "Tags" : [ {} ],
                        "UUID" : {"type" : 22, "value" : "230860b4-8511-463d-9fda-b51ccd000c53"},
                        "checkflags" : [ {} ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "a9cb6626-2a3d-4749-9571-1d06d4caf360"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "TagQuestion"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "General Question 2"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "315;803"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "sourcetemplate"},
                                    "val" : {"type" : 23, "value" : ""}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : 0},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "AiPersonalities" : [ {} ],
                              "CameraTarget" : {"type" : 4, "value" : -1},
                              "Emotion" : {"type" : 23, "value" : "Default"},
                              "MusicInstrumentSounds" : [ {} ],
                              "SoundEvent" : {"type" : 23, "value" : ""}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [ {} ],
                        "Tags" : [ {} ],
                        "UUID" : {"type" : 22, "value" : "2de6ab2c-07b7-4e86-94af-2e78e8b05a42"},
                        "checkflags" : [ {} ],
                        "children" : [ {} ],
                        "constructor" : {"type" : 22, "value" : "TagAnswer"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Answer"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "915;606"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "sourcetemplate"},
                                    "val" : {"type" : 23, "value" : ""}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 1},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : 0},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "AiPersonalities" : [ {} ],
                              "CameraTarget" : {"type" : 4, "value" : -1},
                              "Emotion" : {"type" : 23, "value" : "Default"},
                              "MusicInstrumentSounds" : [ {} ],
                              "SoundEvent" : {"type" : 23, "value" : ""}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "PDD_Player1"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 0}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "|Intro to reflection dialogue|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "Tags" : [ {} ],
                        "UUID" : {"type" : 22, "value" : "6ba5c1e5-9021-4e43-978d-e3abb7542ee9"},
                        "checkflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "name" : {"type" : 22, "value" : "OnlyOnce"},"value" : {"type" : 19, "value" : 0}}
                                    ],"type" : {"type" : 22, "value" : "Local"}}
                              ]
                           }
                        ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "e786f8b5-9833-464a-b37f-80b0ab2b0705"}
                                 },
                                 {
                                    "UUID" : {"type" : 22, "value" : "230860b4-8511-463d-9fda-b51ccd000c53"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "TagGreeting"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Greeting"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "15;606"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "sourcetemplate"},
                                    "val" : {"type" : 23, "value" : ""}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 1},
                        "setflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "name" : {"type" : 22, "value" : "OnlyOnce"},"value" : {"type" : 19, "value" : 1}}
                                    ],"type" : {"type" : 22, "value" : "Local"}}
                              ]
                           }
                        ],
                        "speaker" : {"type" : 4, "value" : -666},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "AiPersonalities" : [ {} ],
                              "CameraTarget" : {"type" : 4, "value" : -1},
                              "Emotion" : {"type" : 23, "value" : "Default"},
                              "MusicInstrumentSounds" : [ {} ],
                              "SoundEvent" : {"type" : 23, "value" : ""}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "hdfa186feg10eag4b37g9786g9de66938e4cd",
                                                   "type" : 28,
                                                   "value" : ""
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "Tags" : [ {} ],
                        "UUID" : {"type" : 22, "value" : "a9cb6626-2a3d-4749-9571-1d06d4caf360"},
                        "checkflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "name" : {"type" : 22, "value" : "GLO_IsLastPlayerInReflectionDialog"},
                                          "paramval" : {"type" : 4, "value" : 0},
                                          "value" : {"type" : 19, "value" : 1}
                                       }
                                    ],"type" : {"type" : 22, "value" : "Character"}}
                              ]
                           }
                        ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "2de6ab2c-07b7-4e86-94af-2e78e8b05a42"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "TagAnswer"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Answer"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "615;606"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "sourcetemplate"},
                                    "val" : {"type" : 23, "value" : ""}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 1},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : 0},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "AiPersonalities" : [ {} ],
                              "CameraTarget" : {"type" : 4, "value" : -1},
                              "Emotion" : {"type" : 23, "value" : "Default"},
                              "MusicInstrumentSounds" : [ {} ],
                              "SoundEvent" : {"type" : 23, "value" : ""}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "IFAN"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 0}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "|Ifan Option|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "SEBILLE"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 0}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "|Sebille Option|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "RED PRINCE"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 0}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "|Red Prince Option"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "LOHSE"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 0}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "|Lohse Option|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "BEAST"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 0}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "|Beast Option|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "FANE"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 0}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "|Fane Option|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "PDD_Player1"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 0}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "|Generic player 1 Option|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "PDD_Player2"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 0}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "|Generic player 2 Option|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "PDD_Player3"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 0}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "|Generic player 3 Option|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "PDD_Player4"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 0}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "|Generic player 4 Option|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "Tags" : [ {} ],
                        "UUID" : {"type" : 22, "value" : "e786f8b5-9833-464a-b37f-80b0ab2b0705"},
                        "checkflags" : [ {} ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "a9cb6626-2a3d-4749-9571-1d06d4caf360"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "TagQuestion"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "General Question 1"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "315;606"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "sourcetemplate"},
                                    "val" : {"type" : 23, "value" : ""}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : 0},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     }
                  ]
               }
            ],
            "speakerlist" : [
               {
                  "speaker" : [
                     {
                        "index" : {"type" : 22, "value" : "0"},
                        "list" : {"type" : 23, "value" : "e0d1ff71-04a8-4340-ae64-9684d846eb83"}
                     }
                  ]
               }
            ]
         },
         "template" : {
            "parameters" : [ {} ]
         }
      }
   }
}
