{
   "save" : {
      "header" : {
         "time" : 1460017184,
         "version" : "2.0.2.0"
      },
      "regions" : {
         "dialog" : {
            "UUID" : {"type" : 22, "value" : "70591b1d-425a-42d2-8e36-5d3d17b3ba0b"},
            "automated" : {"type" : 19, "value" : 0},
            "category" : {"type" : 23, "value" : "Generic NPC Dialog"},
            "nodes" : [
               {
                  "node" : [
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "* Take your leave. * "
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "050cffa2-b580-435c-a704-5cf4eaa0bb88"},
                        "checkflags" : [ {} ],
                        "children" : [ {} ],
                        "constructor" : {"type" : 22, "value" : "TagQuestion"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Leave"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "466.9373;1340.153"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 1},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : 1},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 1},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| Player Lore Question A |"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "217af4de-76f1-4a25-a2ac-bc0611f95037"},
                        "checkflags" : [ {} ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "4570b50f-d924-4f34-801a-be8fc13cd3a0"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "TagQuestion"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Lore Question A1"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "496.903;13.32166"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : 1},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "##Tag 1"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| Tag 1 Second Greeting |"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "##Tag 2"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| Tag 2 Second Greeting |"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "##Tag 3"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| Tag 3 Second Greeting |"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "##Tag 4"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| Tag 4 Second Greeting |"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| Generic Second Greeting. |"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "24bacdf4-53f9-4be9-9ebc-3a3cf759c80c"},
                        "checkflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "name" : {"type" : 22, "value" : "##HasMet Flag"},
                                          "paramval" : {"type" : 4, "value" : 1},
                                          "value" : {"type" : 19, "value" : 1}
                                       }
                                    ],"type" : {"type" : 22, "value" : "Character"}}
                              ]
                           }
                        ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "d907f719-2c80-4d69-8304-c965f785a1a3"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "TagGreeting"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Second Greeting "}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "3;230"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "name" : {"type" : 22, "value" : "AskedA"},"value" : {"type" : 19, "value" : 0}},
                                       {
                                          "name" : {"type" : 22, "value" : "AskedB"},"value" : {"type" : 19, "value" : 0}},
                                       {
                                          "name" : {"type" : 22, "value" : "AskedC"},"value" : {"type" : 19, "value" : 0}}
                                    ],"type" : {"type" : 22, "value" : "Local"}}
                              ]
                           }
                        ],
                        "speaker" : {"type" : 4, "value" : 0},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| NPC Lore Answer B+ |"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "2bfeca71-f2a9-4018-bc3a-031816c15d02"},
                        "checkflags" : [ {} ],
                        "children" : [ {} ],
                        "constructor" : {"type" : 22, "value" : "TagAnswer"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Lore Answer B2"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "775.9056;693.8047"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : 0},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| Player Lore Question A+ - elaborates on A.|"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "42dffe3a-95f0-4dc9-8a31-19397211f837"},
                        "checkflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "name" : {"type" : 22, "value" : "AskedA"},"value" : {"type" : 19, "value" : 1}}
                                    ],"type" : {"type" : 22, "value" : "Local"}}
                              ]
                           }
                        ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "719faca3-12eb-4fae-9f87-5e0c3db4d40b"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "TagQuestion"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Lore Question A2"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "489.0922;236.4362"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : 1},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| NPC Lore Answer A |"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "4570b50f-d924-4f34-801a-be8fc13cd3a0"},
                        "checkflags" : [ {} ],
                        "children" : [ {} ],
                        "constructor" : {"type" : 22, "value" : "TagAnswer"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Lore Answer A1"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "796.903;13.32166"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "name" : {"type" : 22, "value" : "AskedA"},"value" : {"type" : 19, "value" : 1}}
                                    ],"type" : {"type" : 22, "value" : "Local"}}
                              ]
                           }
                        ],
                        "speaker" : {"type" : 4, "value" : 0},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 1},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| Player Lore Question B |"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "45c02dbd-5cdb-4f49-ae85-9a9448d56cd7"},
                        "checkflags" : [ {} ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "5ac25f01-761f-4f16-a2e1-183b399b655c"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "TagQuestion"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Lore Question B1"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "486.2462;461.5663"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : 1},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| NPC Lore Answer B |"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "5ac25f01-761f-4f16-a2e1-183b399b655c"},
                        "checkflags" : [ {} ],
                        "children" : [ {} ],
                        "constructor" : {"type" : 22, "value" : "TagAnswer"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Lore Answer B1"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "786.246;461.5663"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "name" : {"type" : 22, "value" : "AskedB"},"value" : {"type" : 19, "value" : 1}}
                                    ],"type" : {"type" : 22, "value" : "Local"}}
                              ]
                           }
                        ],
                        "speaker" : {"type" : 4, "value" : 0},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| NPC Lore question A+ |"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "719faca3-12eb-4fae-9f87-5e0c3db4d40b"},
                        "checkflags" : [ {} ],
                        "children" : [ {} ],
                        "constructor" : {"type" : 22, "value" : "TagAnswer"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Lore Answer A2"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "789.0922;236.4362"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : 0},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| Player Lore Question B+ - elaborates on B. |"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "7cadf086-a138-45d1-bc59-939982ba7227"},
                        "checkflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "name" : {"type" : 22, "value" : "AskedB"},"value" : {"type" : 19, "value" : 1}}
                                    ],"type" : {"type" : 22, "value" : "Local"}}
                              ]
                           }
                        ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "2bfeca71-f2a9-4018-bc3a-031816c15d02"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "TagQuestion"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Lore Question B2"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "475.9056;693.8047"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : 1},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| NPC Lore Answer C |"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "85193154-67be-408c-b0a2-a26c3d2056fd"},
                        "checkflags" : [ {} ],
                        "children" : [ {} ],
                        "constructor" : {"type" : 22, "value" : "TagAnswer"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Lore Answer C"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "774.0963;908.384"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "name" : {"type" : 22, "value" : "AskedC"},"value" : {"type" : 19, "value" : 1}}
                                    ],"type" : {"type" : 22, "value" : "Local"}}
                              ]
                           }
                        ],
                        "speaker" : {"type" : 4, "value" : 0},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "##Tag 1"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| Tag 1 Initial Greeting |"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "##Tag 2"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| Tag 2 Initial Greeting |"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "##Tag 3"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| Tag 3 Initial Greeting |"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : 19, "value" : 0},
                                                      "TagCombineOp" : {"type" : 1, "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : 22, "value" : "##Tag 4"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : 4, "value" : 1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| Tag 4 Initial Greeting |"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| Generic Initial Greeting. |"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "9a1629d2-74c5-4f3b-95f8-4f005434bd38"},
                        "checkflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "name" : {"type" : 22, "value" : "##HasMet Flag"},
                                          "paramval" : {"type" : 4, "value" : 1},
                                          "value" : {"type" : 19, "value" : 0}
                                       }
                                    ],"type" : {"type" : 22, "value" : "Character"}}
                              ]
                           }
                        ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "050cffa2-b580-435c-a704-5cf4eaa0bb88"}
                                 },
                                 {
                                    "UUID" : {"type" : 22, "value" : "217af4de-76f1-4a25-a2ac-bc0611f95037"}
                                 },
                                 {
                                    "UUID" : {"type" : 22, "value" : "42dffe3a-95f0-4dc9-8a31-19397211f837"}
                                 },
                                 {
                                    "UUID" : {"type" : 22, "value" : "45c02dbd-5cdb-4f49-ae85-9a9448d56cd7"}
                                 },
                                 {
                                    "UUID" : {"type" : 22, "value" : "7cadf086-a138-45d1-bc59-939982ba7227"}
                                 },
                                 {
                                    "UUID" : {"type" : 22, "value" : "d3408203-aa84-40ee-97df-b04b9649c3f6"}
                                 },
                                 {
                                    "UUID" : {"type" : 22, "value" : "edff2515-fd4e-4551-9867-d57da7152edc"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "TagGreeting"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Initial Greeting"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "4;13"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "name" : {"type" : 22, "value" : "##HasMet Flag"},
                                          "paramval" : {"type" : 4, "value" : 1},
                                          "value" : {"type" : 19, "value" : 1}
                                       }
                                    ],"type" : {"type" : 22, "value" : "Character"}},
                                 {
                                    "flag" : [
                                       {
                                          "name" : {"type" : 22, "value" : "AskedA"},"value" : {"type" : 19, "value" : 0}},
                                       {
                                          "name" : {"type" : 22, "value" : "AskedB"},"value" : {"type" : 19, "value" : 0}},
                                       {
                                          "name" : {"type" : 22, "value" : "AskedC"},"value" : {"type" : 19, "value" : 0}}
                                    ],"type" : {"type" : 22, "value" : "Local"}}
                              ]
                           }
                        ],
                        "speaker" : {"type" : 4, "value" : 0},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| NPC Lore Anser C+ |"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "c7e55a61-ccb9-42c9-a231-dffad393edcc"},
                        "checkflags" : [ {} ],
                        "children" : [ {} ],
                        "constructor" : {"type" : 22, "value" : "TagAnswer"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Answer"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "776.6796;1121.301"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : 0},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 1},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| Player Lore Question C |"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "d3408203-aa84-40ee-97df-b04b9649c3f6"},
                        "checkflags" : [ {} ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "85193154-67be-408c-b0a2-a26c3d2056fd"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "TagQuestion"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Lore Question C"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "474.0966;908.384"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : 1},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "UUID" : {"type" : 22, "value" : "d907f719-2c80-4d69-8304-c965f785a1a3"},
                        "children" : [ {} ],
                        "constructor" : {"type" : 22, "value" : "Jump"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Jump"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "257;230"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "jumptarget" : {"type" : 22, "value" : "9a1629d2-74c5-4f3b-95f8-4f005434bd38"},
                        "jumptargetpoint" : {"type" : 1, "value" : 2},
                        "optional" : {"type" : 19, "value" : 0},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "Actions" : {"type" : 23, "value" : ""},
                              "AiPersonalities" : [ {} ],
                              "Conditions" : {"type" : 23, "value" : ""},
                              "CustomSoundUUID" : {"type" : 22, "value" : ""},
                              "Emotion" : {"type" : 5, "value" : 0}
                           }
                        ],
                        "ShowOnce" : {"type" : 19, "value" : 0},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : 19, "value" : 1},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : 1, "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : 28,
                                                   "value" : "| Player Lore Question C+ - elaborates on C. |"
                                                },
                                                "stub" : {"type" : 19, "value" : 1}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "UUID" : {"type" : 22, "value" : "edff2515-fd4e-4551-9867-d57da7152edc"},
                        "checkflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "name" : {"type" : 22, "value" : "AskedC"},"value" : {"type" : 19, "value" : 1}}
                                    ],"type" : {"type" : 22, "value" : "Local"}}
                              ]
                           }
                        ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : 22, "value" : "c7e55a61-ccb9-42c9-a231-dffad393edcc"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : 22, "value" : "TagQuestion"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : 22, "value" : "NodeContext"},
                                    "val" : {"type" : 23, "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "collapsed"},
                                    "val" : {"type" : 23, "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "logicalname"},
                                    "val" : {"type" : 23, "value" : "Question"}
                                 },
                                 {
                                    "key" : {"type" : 22, "value" : "position"},
                                    "val" : {"type" : 23, "value" : "476.6796;1120.112"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : 19, "value" : 0},
                        "exclusive" : {"type" : 19, "value" : 0},
                        "optional" : {"type" : 19, "value" : 0},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : 4, "value" : 1},
                        "stub" : {"type" : 19, "value" : 1},
                        "transitionmode" : {"type" : 1, "value" : 0},
                        "waittime" : {"type" : 6, "value" : -1.0}
                     }
                  ]
               }
            ],
            "speakerlist" : [
               {
                  "speaker" : [
                     {
                        "index" : {"type" : 22, "value" : "0"},
                        "list" : {"type" : 23, "value" : ""}
                     },
                     {
                        "index" : {"type" : 22, "value" : "1"},
                        "list" : {"type" : 23, "value" : ""}
                     }
                  ]
               }
            ]
         },
         "template" : {
            "parameters" : [
               {
                  "parameter" : [
                     {
                        "name" : {"type" : 22, "value" : "HasMet Flag"},"type" : {"type" : 22, "value" : "Character"}},
                     {
                        "name" : {"type" : 22, "value" : "Tag 1"},"type" : {"type" : 22, "value" : "Tag"}},
                     {
                        "name" : {"type" : 22, "value" : "Tag 2"},"type" : {"type" : 22, "value" : "Tag"}},
                     {
                        "name" : {"type" : 22, "value" : "Tag 3"},"type" : {"type" : 22, "value" : "Tag"}},
                     {
                        "name" : {"type" : 22, "value" : "Tag 4"},"type" : {"type" : 22, "value" : "Tag"}}
                  ]
               }
            ]
         }
      }
   }
}
