*.pak
Data/Projects/Shared/
Data/Projects/Origins/
Data/Projects/Game_Master/
Data/Projects/Arena/
Data/Mods/Shared/
Data/Mods/DOS2_Arena/
Data/Mods/DivinityOrigins_1301db3d-1f54-4e98-9be5-5094030916e4/
Data/Public/DivinityOrigins_1301db3d-1f54-4e98-9be5-5094030916e4/
Data/Localization/
Data/Projects/
Data/Editor/Palettes/
Data/Editor/Preview/
Data/Editor/Public/
Data/Editor/Temp/
Data/Editor/Textures/
Data/Editor/Triggers/
Data/Editor/Help/
Data/Editor/Config/
Data/Editor/Engine/
Data/Editor/Game/
Data/Editor/Gizmos/
log.txt
 